{% extends "events/base.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Our College Event Management System!</h1>
            <p class="lead">Here you can find and manage all the exciting events happening at our college.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="upcoming-events">
                <h2>Upcoming Events</h2>
                <hr>
                {% if upcoming_events %}
                    <div class="row">
                        {% for event in upcoming_events %}
                            <div class="events">
                                <div>
                                    <div>
                                        <img src="{{ event.brochure.url }}" alt="Brochure">
                                        
                                        <h2>{{ event.title }}</h2>
                                        <p>{{ event.description }}</p>
                                        <p><strong>Date:</strong> {{ event.from_date }} {{ event.from_time }}</p>
                                        <p><strong>Mode:</strong> {{ event.get_mode_display }}</p>
                                        <p><strong>Department/Club:</strong> {{ event.dept_club.dc_name }}</p>
                                        {% if user.is_authenticated and not user.is_superuser %}
                                            {% if event.approved %}
                                                <a href="#" class="btn btn-primary">Register</a>
                                            {% else %}
                                                <span class="badge badge-warning">Pending Approval</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No upcoming events.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
